.category-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 25em;
    background-color: #EC6693;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 10px 3px #FE6971;
    padding: 20px;
}

.category-form h1 {
    margin-bottom: 1em;
}

.name-field {
    display: flex;
    border: 1px solid #b2b2b2;
    /* width: 13em;  */
    border-radius: 5px; /* rounds the corners */
    margin-bottom: 2em;
}

.name-field input {
    border: none; /* removes the border */
    outline: none; /* removes the blue outline when clicked */
    padding: 10px;  /* So the placeholder doesnt start bumped up against the border-left */
    width: 12.5em;
    border-left: 1px solid #b2b2b2;
    background-color: white;
}

select {
    border: none;
    outline: none;
    padding: 10px;
    border-left: 1px solid #b2b2b2;
    border-radius: 5px;
    width: 13em;
}

.time-field {
    display: flex;
    border-radius: 5px;
    width: 13em;
    border: 1px solid #b2b2b2;
    overflow: hidden;
    margin-bottom: 2em;
}

.priority-field {
    display: flex;
    border: 1px solid #b2b2b2;
    width: 13em;
    border-radius: 5px;
    margin-bottom: 2em;
}