.login-button {
    margin-top: 30px;
}

.login-container {
    width: 25em;
    background-color: #9C5CAD;
    padding: 100px 0;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px 3px #EC6693;
    text-align: center;
}

label {
    color: white;
    font-size: 20px;
}

.email, .password {
    display: flex;
    border: 1px solid #b2b2b2;
    margin: 0 auto;
    width: 13em; /* makes it so the email doesnt stretch from left to right */
    border-radius: 5px; /* rounds the corners */
}

.email {
    margin-bottom: 2em;
}

.email input, .password input {
    border: none; /* removes the border */
    outline: none; /* removes the blue outline when clicked */
    padding: 10px;  /* So the placeholder doesnt start bumped up against the border-left */
    border-left: 1px solid #b2b2b2;
}