.signup-button {
    margin-top: 30px;
}

.signup-container {
    width: 25em;
    background-color: #9C5CAD;
    padding: 50px 0;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px 3px #EC6693;
    text-align: center;
}

p {
    margin-top: 3em;
    color: white;
    margin-bottom: 1em;
}

.username {
    display: flex;
    border: 1px solid #b2b2b2;
    margin: 0 auto;
    width: 13em; /* makes it so the username doesnt stretch from left to right */
    border-radius: 5px; /* rounds the corners */
    margin-bottom: 2em;
}

.username input {
    border: none; /* removes the border */
    outline: none; /* removes the blue outline when clicked */
    padding: 10px;  /* So the placeholder doesnt start bumped up against the border-left */
    border-left: 1px solid #b2b2b2;
}

.password {
    display: flex;
    border: 1px solid #b2b2b2;
    margin: 0 auto;
    width: 13em; /* makes it so the password doesnt stretch from left to right */
    border-radius: 5px; /* rounds the corners */
}

.password input {
    border: none; /* removes the border */
    outline: none; /* removes the blue outline when clicked */
    padding: 10px;  /* So the placeholder doesnt start bumped up against the border-left */
    border-left: 1px solid #b2b2b2;
}

.password-confirm {
    display: flex;
    border: 1px solid #b2b2b2;
    margin: 0 auto;
    width: 13em; /* makes it so the password doesnt stretch from left to right */
    border-radius: 5px; /* rounds the corners */
    margin-top: 2em;
}

.password-confirm input {
    border: none; /* removes the border */
    outline: none; /* removes the blue outline when clicked */
    padding: 10px;  /* So the placeholder doesnt start bumped up against the border-left */
    border-left: 1px solid #b2b2b2;
}