.task-form {
    background-color: #1DCFA2;
    height: 400px;
    padding: 100px 0;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px 3px #EC6693;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description-field {
    display: flex;
    border: 1px solid #b2b2b2;
    width: 13em; /* makes it so the name-field doesnt stretch from left to right */
    border-radius: 5px; /* rounds the corners */
    margin-bottom: 2em;
}

.description-field input {
    border: none; /* removes the border */
    outline: none; /* removes the blue outline when clicked */
    padding: 10px;  /* So the placeholder doesnt start bumped up against the border-left */
    border-left: 1px solid #b2b2b2;
}

.category-field {
    display: flex;
    border-radius: 5px;
    margin-bottom: 2em;
    border: 1px solid #b2b2b2;
    overflow: hidden;
}

.image-field {
    display: flex;
    border: 1px solid #b2b2b2;
    border-radius: 5px;
    margin-bottom: 2em;
}

input[type="file"] {
    display: none;
}