.edit-page-grid {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.task-background {
    position: relative;
    max-width: 25em;
    background-color: #1DCFA2;
    border-radius: 10px;
    box-shadow: 0 0 10px 3px #EC6693;
    text-align: center;
    grid-column: 2;
}

.task-background h1 {
    color: white;
    font-size: 46px;
    padding: 20px;
}

.edit-button {
    background-color: #00B5B5; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin-left: 30px;
}

.edit-button:hover {
    background-color: #FFBB56; /* Green */
    color: white;
}

.edit-button a {
    color: white;
    text-decoration: none;
}

.button-delete {
    background-color: #FE6971; /* Green */
    border: none;
    color: white;
}

.button-delete:hover {
    background-color: #FC8255; /* Green */
    color: white;
}

.button-delete a {
    color: white;
    text-decoration: none;
}

li {
    color: #EC6693;
}

li p {
    display: inline;
    color: #9C5CAD;
}

.details-page {
    display: flex;
    justify-content: center;
}

.ul-tasks {
    height: 20em;
    width: 80%;
    display: flex;
    flex-direction: column;
    background-color: #9C5CAD;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px 3px #EC6693;
    text-align: left;
    list-style-type: none;
    margin-bottom: 2em;
}

.ul-tasks p {
    color: #1DCFA2;
}

img {
    margin: 0 auto;
    width: 80%;
    border-radius: 10%;
}

.category-form-container-edit {
    position: absolute; /* Add position absolute */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2; /* Set a higher z-index to make it appear on top */
    display: flex;
    align-items: center;
    justify-content: center;
}